[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/RacconAnalytics/api-gateway.git
[submodule "users-service"]
	path = users-service
	url = https://github.com/RacconAnalytics/users-service.git
[submodule "web-page"]
	path = web-page
	url = https://github.com/RacconAnalytics/web-page.git
[submodule "youtube-acquisition-service"]
	path = youtube-acquisition-service
	url = https://github.com/RacconAnalytics/youtube-acquisition-service.git
